<table border="1" xmlns:th="http://www.w3.org/1999/xhtml">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="coffee : ${coffees}">
        <td th:text="${coffee.id}"></td>
        <td th:text="${coffee.name}"></td>
        <td th:text="${coffee.type}"></td>
        <td th:text="${coffee.size}"></td>
        <td th:text="${coffee.price}"></td>
        <td>
            <a th:href="@{/edit(id=${coffee.id})}">Edit</a> |
            <a th:href="@{/delete(id=${coffee.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>
<a href="/add">Add New Coffee</a>
